<ul class="nav nav-pills mt-4 mb-4">

    <li class="nav-item">
        <a class="nav-link" routerLink="test" routerLinkActive="active">Test</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="'clocks'" routerLinkActive="active">Clocks</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="calendars" routerLinkActive="active">Calendars</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="bookings" routerLinkActive="active">Bookings</a>
    </li>

</ul>

<router-outlet></router-outlet>
