<div class="row">

  <div class="col-12" *ngIf="testService.singleOptionQuestions === null">
    <img src="/assets/loading.gif" style="width: 300px" />
  </div>

  <div class="col-12 mb-5">

    <table class="table table-bordered">

      <thead>

        <tr>

          <th>Statement</th>
          <th>Option1</th>
          <th>Option2</th>
          <th>Option3</th>
          <th>Option4</th>
          <th>Correct</th>
          <th>Marks</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let question of testService.singleOptionQuestions;let qi=index;">

          <td>
            {{question.statement}}
          </td>

          <td>
            {{question.option1}}
          </td>

          <td>
            {{question.option2}}
          </td>

          <td>
            {{question.option3}}
          </td>

          <td>
            {{question.option4}}
          </td>

          <td>
            {{question.correct}}
          </td>

          <td>
            {{question.marks}}
          </td>

        </tr>


      </tbody>

    </table>


  </div>

</div>