<ul class="nav nav-pills nav-justified mt-4 mb-4">

    <li class="nav-item">
        <a class="nav-link" routerLink="test1" routerLinkActive="active">Test1</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="test2" routerLinkActive="active">Test2</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="test3" routerLinkActive="active">Test3</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="test4" routerLinkActive="active">Test4</a>
    </li>

</ul>

<router-outlet></router-outlet>